<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <i class="bi bi-camera-reels"></i>
      <span class="ms-2">CineMatrix</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Navigation links can be added here if needed -->
      </ul>
    </div>
  </div>
</nav>

<!-- Login Page -->
<div class="container-fluid">
  <div class="row vh-100">
    <!-- Left Column with Dummy Image -->
    <div class="col-md-6 d-none d-md-block p-0">
      <img src="https://img.freepik.com/premium-photo/composition-movie-elements-red-background-with-copy-space_23-2148457860.jpg?w=1060
      
      " alt="Dummy Image" class="img-fluid h-100 w-100">
    </div>
    <!-- Right Column with Login Form -->
    <div class="col-md-6 d-flex align-items-center justify-content-center p-4">
      <div class="login-form">
        <h2 class="text-center mb-4">Login</h2>
        <form [formGroup]="loginForm">
          <div class="mb-3 position-relative">
            <i class="bi bi-envelope position-absolute top-50 start-0 translate-middle-y ms-2"></i>
            <input type="email" formControlName="email" class="form-control ps-5" id="email" placeholder="Email" required>
          </div>
          <div class="mb-3 position-relative">
            <i class="bi bi-lock position-absolute top-50 start-0 translate-middle-y ms-2"></i>
            <input type="password" formControlName="password"   class="form-control ps-5" id="password" placeholder="Password" required>
          </div>
          <div class="mb-3">
            <a href="#" class="text-decoration-none">Forgot password?</a>
          </div>
          <button type="submit" (click)="onSubmit()" class="btn btn-danger w-100">Login</button>
          <hr class="my-4">
          <button type="button" class="btn btn-light w-100">
            <i class="bi bi-google me-2"></i> Sign in with Google
          </button>
          <div class="text-center mt-3">
            <a href="#" class="text-decoration-none">Don't have an account? Sign Up</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
